<table class="table table-bordered">
  <thead>
  <tr>
    <th class="table-header__label" *ngFor="let currentHeader of currentHeaderList">{{currentHeader.data}}</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let currentData of currentDataList">
      <td *ngFor="let data of currentData" (click)="isDecision ? decision(data) : addData(data)" [ngClass]="data.isClicked ? 'table-body__cell--clicked' : 'table-body__cell--nuClicked'" >
        {{data.data}}
      </td>
    </tr>
  </tbody>
</table>
