<div>
  <button type="button" class="btn btn-info" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modalPanel">忍法設定</button>
  <button type="button" class="btn btn-primary ml-2" (click)="addRow()">行追加</button>
</div>
<div>
  <table class="table-bordered">
    <thead>
      <tr>
        <th width="10%">忍法名</th>
        <th width="10%">タイプ</th>
        <th width="10%">指定特技</th>
        <th width="5%">間合</th>
        <th width="10%">コスト</th>
        <th width="40%">エフェクト</th>
        <th width="5%">参照P</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let arts of dispArtsArray;let index = index">
        <td>
          <input type="text" class="w-100" [(ngModel)]="arts.name">
        </td>
        <td>
          <input type="text" class="w-100" [(ngModel)]="arts.type">
        </td>
        <td>
          <input type="text" class="w-100" [(ngModel)]="arts.targetSkill">
        </td>
        <td>
          <input type="text" class="w-100" [(ngModel)]="arts.range">
        </td>
        <td>
          <input type="text" class="w-100" [(ngModel)]="arts.cost">
        </td>
        <td>
          <input type="text" class="w-100" [(ngModel)]="arts.description">
        </td>
        <td>2</td>
      </tr>
    </tbody>
  </table>
</div>
<app-arts-modal [modalId]="'modalPanel'" [selectArtsArray]="selectArtsArray" (regist)="registData($event)"></app-arts-modal>