<table class="table-bordered">
  <tr>
    <th>プレイヤー名</th>
    <td colspan="3">
      <input id="player" type="text" class="w-100" [(ngModel)]="playerName" >
    </td>
  </tr>
  <tr>
    <th>キャラクター名</th>
    <td colspan="3">
      <input id="charactor" type="text" class="w-100" [(ngModel)]="charactorName">
    </td>
  </tr>
  <tr>
    <th>カナ</th>
    <td colspan="3">
      <input id="kana" type="text" class="w-100" [(ngModel)]="kana">
    </td>
  </tr>
  <tr>
    <th>レギュレーション</th>
    <td colspan="3">
      <input id="regulation" type="text" class="w-100" [(ngModel)]="regulation">
    </td>
  </tr>
  <tr>
    <th>タイプ</th>
    <td colspan="3">
      <input id="type" type="text" [value]="'忍者'" class="w-100" [(ngModel)]="type">
    </td>
  </tr>
  <tr>
    <th>上位流派</th>
    <td>
      <select (change)="pullDownChange($event.target.value)">
        <option *ngFor="let item of selectList">{{item}}</option>
      </select>
    </td>
    <th>流派</th>
    <td>
      <input id="kairyuha" type="text" [(ngModel)]="kairyuha">
    </td>
  </tr>
  <tr>
    <th>流儀</th>
    <td colspan="3">
      <input id="ryugi" type="text" class="w-100" [(ngModel)]="ryugi">
    </td>
  </tr>
  <tr>
    <th>仇敵</th>
    <td colspan="3">
      <input id="enemy" type="text" class="w-100" [(ngModel)]="enemy">
    </td>
  </tr>
  <tr>
    <th>階級</th>
    <td>
      <input id="rank" type="text" [(ngModel)]="rank">
    </td>
    <th>功績</th>
    <td>
      <input id="achievement" type="text" [(ngModel)]="achievement">
    </td>
  </tr>
  <tr>
    <th>年齢</th>
    <td>
      <input id="age" type="text" [(ngModel)]="age">
    </td>
    <th>性別</th>
    <td>
      <input id="gender" type="text" [(ngModel)]="gender">
    </td>
  </tr>
  <tr>
    <th>表の顔</th>
    <td>
      <input id="face" type="text" [(ngModel)]="face">
    </td>
    <th>信念</th>
    <td>
      <input id="belief" type="text" [(ngModel)]="belief">
    </td>
  </tr>
</table>