<!-- モーダルの設定 -->
<div class="modal fade" id="{{modalId}}" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 80%" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">忍法一覧</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-arts [selectArtsArray]="selectArtsArray" (regist)="registData($event)"></app-arts>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="returnData()">変更を保存</button>
      </div>
    </div>
  </div>
</div>