<mat-toolbar class="row" color="primary">
  <mat-toolbar-row>
    <span (click)="routing('');">シノビガミキャラクター保管</span>
    <div class="col-md-1 text-center">
      <button mat-stroked-button class="ml-2" (click)="routing(urlList.regist)">登録</button>
    </div>
    <div class="col-md-1 text-center">
      <button mat-stroked-button class="ml-2" (click)="routing(urlList.characterList)">一覧</button>
    </div>
    <div class="col-md-1 offset-md-6 text-center">
      <button type="button" class="btn btn-success border-dark" (click)="routing(isLogin ?  urlList.myPage : urlList.login)">{{isLogin ? 'マイページ' : 'ログイン'}}</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>