<div class="dropdown">
  <input type="checkbox" [(ngModel)]="decisionFlg">判定モード
</div>
<div>
  <app-grid></app-grid>
</div>
<div class="row">
  <div class="grid col-md-8">
    <ag-grid-angular #agGrid style="height: 400px;" class="ag-fresh" [gridOptions]="gridOptions"
                     (cellClicked)="decisionFlg ? decisionClick($event): selectedSkill($event)"></ag-grid-angular>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header alert alert-primary">
        <h5>指定特技：{{decisionTarget}}</h5>
      </div>
      <div class="card-body w-100">
        <div class="table table-border">
          <thead>
          <tr>
            <th style="width: 20%">取得特技</th>
            <th style="width: 80%">判定値</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let result of decisionResult; let idx = index">
            <td>{{result.name}}</td>
            <td>
              <input type="text" [(ngModel)]="result.desisonRes" class="w-75">
              <button type="button" class="btn btn-primary btn-sm" (click)="clipCopy(idx)">コピー</button>
            </td>
          </tr>
          </tbody>
        </div>
      </div>
    </div>
  </div>
</div>
