<div class="dropdown">
  <input type="checkbox" (change)="decisionShare()">判定モード
</div>
<div class="row">
  <div class="grid col-md-8">
    <app-grid [currentRyuha]="ryuha" (calculationResult)="fetchDecisionResult($event)"></app-grid>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header alert alert-primary">
        <h5>指定特技：{{decisionTarget}}</h5>
      </div>
      <div class="card-body w-100">
        <table class="table table-border">
          <thead>
          <tr>
            <th style="width: 20%">取得特技</th>
            <th style="width: 80%">判定値</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let result of decisionResult; let idx = index">
            <td>{{result.data}}</td>
            <td>
              <input type="text" [(ngModel)]="result.sub" class="w-75">
              <button type="button" class="btn btn-primary btn-sm" (click)="clipCopy(idx)">コピー</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
