.table-header__label {
  text-align: center;
}

.table-body__cell {
  &--clicked {
    background-color: black;
    color: white;
  };
  &--unClicked {
    background-color: white;
    color: black;
  }
}
