<button type="button" class="btn btn-primary" (click)="addRow()">行追加</button>
<table class="table-bordered ml-md-2 mr-md-2">
  <thead>
    <tr>
      <th>奥義名</th>
      <th>指定特技</th>
      <th>エフェクト/強み/弱み</th>
      <th>効果/演出</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let secrets of secretList">
      <td><input type="text" (blur)="update()" [(ngModel)]="secrets.name"></td>
      <td><input type="text" (blur)="update()" [(ngModel)]="secrets.targetSkill"></td>
      <td><input type="text" (blur)="update()" [(ngModel)]="secrets.effect"></td>
      <td><input type="text" (blur)="update()" [(ngModel)]="secrets.staging"></td>
    </tr>
  </tbody>
</table>
<table class="table-bordered mt-md-2">
  <thead>
    <tr>
      <th>名前</th>
      <th>個数</th>
      <th width="80%">効果</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>兵糧丸</td>
      <td><input type="text" [(ngModel)]="itemList.hyorogan"></td>
      <td>いつでも使用できる。このアイテムを使用すると自分の【生命力】１点か変調１つを回復することができる。</td>
    </tr>
    <tr>
      <td>神通丸</td>
      <td><input type="text" [(ngModel)]="itemList.jintugan"></td>
      <td>自分が行為判定のサイコロを振ったときに使用できる。そのサイコロを振り直すことができる。</td>
    </tr>
    <tr>
      <td>遁甲符</td>
      <td><input type="text" [(ngModel)]="itemList.tonkohu"></td>
      <td>自分以外の誰かが行為判定のサイコロを振ったときに使用できる。そのサイコロを振り直すことができる。</td>
    </tr>
  </tbody>
</table>
