<h1>ユーザ登録</h1>
<div class="container" style="width: 90%">
  <div class="row">
    <span class="col-md-2">ID</span>
    <input type="text" class="col-md-6" (blur)="duplicateUserCheck(id.value)" #id>
    <span *ngIf="isDuplicate | async" class="alert alert-danger offset-md-2 col-md-6">このユーザ名は既に使用されています。変更してください。</span>
  </div>
  <div class="row">
    <span class="col-md-2">パスワード</span>
    <input type="password" class="col-md-6" #pass>
  </div>
  <div class="row">
    <button mat-stroked-button class="mx-auto col-md-4" (click)="userRegister(id.value, pass.value)">登録</button>
  </div>
</div>
